<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Volt Project", root_path, class: 'navbar-brand' %>
    </div>
      <ul class="nav navbar-nav">
        <%= content_tag :li, class: "#{'active' if request.path == oauth_applications_path || request.path == root_path}" do %>
          <%= link_to t('doorkeeper.layouts.admin.nav.applications'), oauth_applications_path %>
        <% end %>
        <%= content_tag :li, class: "#{'active' if request.path == edit_user_registration_path}" do %>
          <%= link_to 'Edit user profile', edit_user_registration_path %>
        <% end %>
        <%= content_tag :li do %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% end %>
      </ul>
  </div>
</div>